<html>
  <head>
      <meta charset="utf-8">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
      <script src="main.js"></script>
      <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app='TestApp'>
    <div ng-controller='TestAppController as tac' ng-init='tac.recalcTotal()'>
      <div class='bucket'>
        <h1 align='center'>Корзина товаров</h1>
        <div class='left tab'>Номер товара</div>
        <biv class='right tab'>Стоимость ({{tac.currency}})</biv>
        <div ng-repeat='item in tac.selectedCart track by $index'>
            <div class='left'>{{$index + 1}}</div>
            <input class='right' ng-model='item.price'>
        </div>
        <button ng-click='tac.recalcTotal()'>Посчитать сумму</button>
      </div>
      <div class='total-sum'>
        <h1 align='center'>Cумма</h1>
        <div class='left tab'>Валюта</div>
        <div class='right tab'>Сумма</div>
        <div ng-repeat='(currency,total) in tac.totalCartPrice track by currency'>
          <div class='left'>{{currency}}</div>
          <div class='right'>{{total}}</div>
        </div>        
      </div>
    </div>
  </body>
</html>